
Create DATABASE IF NOT EXISTS `desktop` ;
USE `desktop` ;

CREATE TABLE `light` (
  `id` int NOT NULL AUTO_INCREMENT,
  `value` decimal(18,2) DEFAULT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
